
.button {
	width:100%; 
	position:absolute;
	height:85%;
	color: #3C6E71;
	text-align: center;
	background-color: #ffffff; 
	position: absolute;
	left:0%;
}


.container {
	position: absolute;
	width: 10%;
	height: 100%;
}

.caption {
	font-size:18px; 
	font-family:Lucida Bright, Georgia, serif;
	text-align:center; 
	color: #ffffff;
	font-weight: bold;
	position: absolute;
	top:87%;
	width:100%;
	left:0%;
	
}