body{
	width:100%;
	height:100%;
}
.heading{
	width:105%;
	max-width:1920px;
	min-width:488px;
	margin-left:-8px;
	overflow:hidden;
	margin-top:-8px;
	height:10%;
	background-color:#d7dee0;
	border-radius:50% 50% 0 0;
}
h1{
	color:#404040; 
	font-family:Arial Black, Gadget, sans-serif; 
	font-size:32px;
	text-align:center;
	height:80%;
}
.tabs{
	position:absolute;
	top:4;
	width:105%;
	max-width:1920px;
	min-width:488px;
	margin-left:-8px;
	overflow:hidden;
	height:20%;
	background:#d7dee0;
}
.tabbuttons{
	text-align: center;
	width: 25%;
	border-top: solid #b7c4c8 2px;
	border-left: solid #b7c4c8 2px;
	border:right: solid #b7c4c8 2px;
	background-color: #b7c4c8;
	color:#404040;
	font-family:Arial Black, Gadget, sans-serif;
}
.subTabButtons{
	width: 100%;
	color:#404040;
	font-family:Arial Black, Gadget, sans-serif;
}

.mainarea{
	position:absolute;
	top:10.5%;
	height:90%;
	max-height:1080px;
	min-height: 728px;
	width:105%;
	max-width:1920px;
	min-width:488px;
	margin-left:-8px;
	overflow:hidden;
	background:linear-gradient(90deg, #89C7EB, #243d4a);
	border-top: solid #FFFFFF 2px;
} 
.homebuttons{
	margin: 10% 10% 10% 10%;
	position:absolute;
	color:#404040;
	background-color:white;
	font-family:Arial Black, Gadget, sans-serif;
	font-size: 32px;
	font-style:center;
	border-radius:20%;
	width: 80%; 
	height: 13.3%;
}
.mainparagraph{
	color:#404040; 
	font-family:Arial Black, Gadget, sans-serif;
	text-align:center;
}
.imageart{
	margin-top: 1%;
	margin-left:4%;
	margin-right:4%;
	position:absolute;
	width:25%;
	height:60%;
	border-radius:10%;
}
}
.imagecaption{
	position:absolute;
	width:30%;
	height:10%;
	font-size:20px;
	display:inline;
}
.nicepics{
	position:absolute;
	border-radius:10%;
}
.divhomebutton{
	position:absolute;
	top:10%;
	right:5%;
	text-align:center;
	border-radius: 20% 20% 20% 20%;
	width:10%;
}
.returnbutton{
	position:relative;
	color:#404040;
	background-color:white;
	font-family:Arial Black, Gadget, sans-serif;
	font-style:center;
	border-radius:25%;
	width: 100%;
	height: 100%;
}
.gotogoogle{
	position:absolute;
	left:30%;
	top:35%;
	color:white;
	background-color:red;
	font-family:Arial Black, Gadget, sans-serif;
	font-size: 50px;
	font-style:center;
	border-radius:25%;
	width: 40%; 
	height: 25%;
}
.logininput{
	position:relative;
	width:100%;
	height:35%;
	border:none;
}
.loginbuttons{
	font-family:Arial Black, Gadget, sans-serif;
	position:relative;
	color:#404040;
	width:30%;
	height:10%;
	border-radius:10%;
}
.calculatorSolarPanelTexture{
	position:absolute; 
	width:2%; 
	height:100%; 
	background-color:#b38600;
}
.calculatorButtons{
	position:absolute; 
	width:15%; 
	height:13%;  
	background-color:#a6a6a6; 
	border-radius:15% 15% 15% 15%;
	border:none;
	font-family:Verdana, Geneva, sans-serif; 
	font-size:32px; 
	text-align:center; 
	color:white;
}	
.calculatorResultArea{
	font-family:Courier New, Courier, monospace; 
	font-size:48px; color:black; 
	text-align:right; 
	height:48%; 
	width:97%; 
	left:1%;
	position:absolute;
	overflow: hidden; 
	text-overflow: ellipsis;
}
	
	
	
	
	
	
	