body{
	width:100%;
	height:100%;
}
header{
	width:99%;
}
h1{
	color:#404040; 
	background-color:#d7dee0;
	font-family:Arial Black, Gadget, sans-serif; 
	font-size:32px;
	text-align:center;
	border: 20px;
	border-radius: 25px 25px 0 0;
	width:100%;
	height:20%;
}
.tabs{
	position:absolute;
	top:6.6%;
	width:99%;
	height:10%;
	background:#d7dee0;
}
.topsection{
	position:absolute;
	top:16%;
	height:82%;
}
.indextop1{
	border:5px;
	width: 49.7%; 
	background:linear-gradient(90deg, #89C7EB, #518cad);
}
.indextop2{
	left:50%;
	border:5px;
	background:linear-gradient(90deg,#518cad,#375c70);
	width:30%;
}
.indextop3{
	left:80%;
	border:5px;
	background:linear-gradient(90deg,#375c70,#243d4a);
	width: 19.45%; 
}
.uwuimg{
	border: solid #404040 5px;
	border-radius: 40% 40% 40% 40%;
}
.homebuttons{
	margin: 10% 0 10% 0;
	position:absolute;
	left:4%;
	color:#404040;
	background-color:white;
	font-family:Arial Black, Gadget, sans-serif;
	font-size: 32px;
	font-style:center;
	border-radius:25%;
	width: 85%; 
	height: 25%;
}
.mainparagraph{
	color:#404040; 
	font-family:Arial Black, Gadget, sans-serif;
	text-align:center;
}
.imageart{
	margin-top: 3%;
	margin-right:2.25%;
	position:relative;
	width:30%;
	height:60%;
	border-radius:10%;
}
}
.imagecaption{
	position:relative;
	top: 5%;
	margin-right:14%;
	width:30%;
	height:10%;
	font-size:16px;
	display:inline;
}
.divpics{
	width:99%;
	background:linear-gradient(90deg, #89C7EB, #518cad);
}
.nicepics{
	position:absolute;
	border-radius:10%;
}
.divhomebutton{
	position:absolute;
	top:10%;
	right:5%;
	text-align:center;
	border-radius: 20% 20% 20% 20%;
	width:10%;
}
.returnbutton{
	position:relative;
	color:#404040;
	background-color:white;
	font-family:Arial Black, Gadget, sans-serif;
	font-style:center;
	border-radius:25%;
	width: 100%;
	height: 100%;
}
.gotogoogle{
	position:absolute;
	left:30%;
	top:35%;
	color:white;
	background-color:red;
	font-family:Arial Black, Gadget, sans-serif;
	font-size: 50px;
	font-style:center;
	border-radius:25%;
	width: 40%; 
	height: 25%;
}
.logininput{
	position:relative;
	width:100%;
	height:35%;
	border:none;
}
.loginbuttons{
	font-family:Arial Black, Gadget, sans-serif;
	position:relative;
	color:#404040;
	width:30%;
	height:10%;
	border-radius:10%;
}