.grid
{
  width:30%;
  height:90%;
  top:2.5%;
  left:35%;
  min-width:240px;
  position:absolute;
  background-color: #3C6E71;
  display:flex;
  flex-wrap: wrap;
  border: solid #FFFFFF 5px;
}

.grid div{
  width:10%;
  height:5%;
 border:solid #42777a 1px;
}

.tetrisShape{
  background-color: #FFA62B;
}

.taken{
  background-color: none;
  border: none;
}

.miniGrid{
  display: flex;
  flex-wrap:wrap;
  position:absolute;
  width: 100%;
  height: 83%;
  top:17%;
}

.miniGrid div{
  width: 20%;
  height:25%;
}
